<app-template-full-width [title]="myTitle" *ngIf="collection$ | async as collectionVar">
    <button (click)="changeTitle()" >Change the title</button>
    <app-table-light [headers]="headers">
        <tr *ngFor="let item of collectionVar">
            <td>{{ item.typePresta }}</td>
            <td>{{ item.client }}</td>
            <td>{{ item.nbJours }}</td>
            <td>{{ item.tjmHt | currency }}</td>
            <!-- <td> {{ total(item.tjmHt, item.nbJours)}} </td>
            <td> {{ total(item.tjmHt, item.nbJours, item.tva)}} </td> -->
            <!-- <td> {{ item.tjmHt | total : item.nbJours}} </td>
            <td> {{ item.tjmHt | total : item.nbJours : item.tva}} </td> -->
            <td> {{ item | total }} </td>
            <td> {{ item | total : true}} </td>
            <td>{{ item.state }}</td>
            <td>
                <select (change)="onSelectChangeState(item, $event)">
                    <option 
                        *ngFor="let state of stateOrder | keyvalue"
                        [value]="state.key"
                        [selected]="state.value === item.state" 
                        > {{ state.value }} </option>
                    <!-- <option
                        *ngFor="let state of stateOrder | keyvalue"
                        [value]="state.value"
                        [selected]="state.value === item.state"
                        > {{ state.value }} </option> -->
                    <!-- <option 
                        *ngFor="let state of states"
                        [value]="state"
                        [selected]="state === item.state"
                        > {{ state }} </option> -->
                </select>
            </td>
        </tr>
    </app-table-light>
    <app-btn></app-btn>
</app-template-full-width>