.flex {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    main {
        flex-grow: 1;
        background-color: var(--app-darklight);
    }
    nav {
        background-color: var(--app-darklight2);
    }
}