<header class="fixed-top">
    instance de header component
    <span (click)="toggle()">
        <ng-container *ngIf="open;then thenBlock else elseBlock" ></ng-container>
        
        <ng-template #thenBlock>
            <ng-content select=".tr-btn-close"></ng-content>
        </ng-template>

        <ng-template #elseBlock>
            <ng-content select=".tr-btn-open"></ng-content>
        </ng-template>
        
        <!-- if open == true
            affiche tr-btn-close
            else 
            affiche tr-btn-open
         -->
    </span>

    <ng-content select=".tr-header"></ng-content>

</header>
<main [ngClass]="{'close-aside' : !open}">
    <div class="shadow position-fixed">

    </div>

    <aside>
        <div class="scroller">
            instance de nav component
            <ng-content select=".tr-nav"></ng-content>
        </div>
    </aside>

    <div class="page">

        <div class="contents">
            instance d'un component en fonction de la route
        </div>

        <footer>
            instance de footer component
            <ng-content select=".tr-footer"></ng-content>
        </footer>

    </div>

</main>