a {
    display: inline-block;
    padding: 0.5em;
    background: var(--app-primary);
    color: var(--app-light);
    text-decoration: none;
    &:hover {
        transition: 0.2s;
        background: var(--app-primary-dark);
    }
}
  